:root {
    --primary_color: #033f5f;
    --seconday_color: #007CBC;
    --highlight_color: #F5BA36;
    --neutral_grey: #747e83;
    --neutral_light: #fff;
}

.blue {
    background-color: var(--primary_color);
}
.blue_text{
    color: rgb(96, 103, 107);
}
.center {
    text-align: center;
}
.callout {
    padding: 3rem 0 2rem 0;
}

.work img {
    padding: .5rem;
    border: black 5px solid;
    border-radius: 1rem;
}
.work {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    margin: 0 auto; 
}
* {
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    margin: 0;
}

h1 {
    color: var(--primary_color);
}
header h1 a {
    color: #fff;
    text-decoration: none;
}
h2 {
    color: var(--primary_color);
}
h3 {
    color: var(--neutral_light);
}
p {
    color: var(--neutral_grey);
    line-height: 2rem;
}

img {
    max-width: 100%; /* This makes all your images responsive */
}



/* Navigation */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}
nav li {
    flex-grow: 1;
}
nav li a:link, 
nav li a:visited {
    color: var(--neutral_light);
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 2rem 1rem;
    transition: background-color .2s ease-in-out;
}
nav li a:hover {
    background-color: var(--seconday_color);
}




.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1.5rem;
    margin: 0 auto;
    width: min(95%, 75rem);
}

.container_lg {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1.5rem;
    margin: 0 auto;
    padding-top: 0px;
    padding-right: 50px;
    padding-bottom: 0px;
    padding-left: 50px;
}
.container > *, 
.container_lg > * {
    grid-column: span 12;
}

.spacing {
    margin: 4rem 0;
}


a:link {

        color:#fff;
    
        text-decoration: none;
     }

     .button:link, .button:visited {
        color: rgb(250, 250, 251);
        background-color: rgb(244, 244, 248);
        padding: 1rem 1.75rem;
        border-radius: .5rem;
        box-shadow: 0 .125rem .5rem cornflowerblue;
    
    }
  
  /* visited link */
  a:visited {
    color: #fff;

  }
  
  /* mouse over link */
  a:hover {
    color: #fff;
  }
  
  /* selected link */
  a:active {
    color: #fff;
  }

/* Media Queries for larger screens than 768px */
@media screen and (min-width: 48rem) {


    .col-span-2 {
        grid-column: span 2;
    }
    .col-span-3 {
        grid-column: span 3;
    }
    .col-span-4 {
        grid-column: span 4;
    }
    .col-span-5 {
        grid-column: span 5;
    }
    .col-span-6 {
        grid-column: span 6;
    }
    .col-span-7 {
        grid-column: span 7;
    }
    .col-span-8 {
        grid-column: span 8;
    }
    .col-span-9 {
        grid-column: span 9;
    }
    .col-span-10 {
        grid-column: span 10;
    }
    
    

} /* Closes the media query */