body {
    margin: 0px 10%;
    font-family: sans-serif;
}
header { 
    background-color: #010c1f;
    color: rgb(246, 246, 246)


}
h1 { 
    font-size: 2rem;
}
h2 {
    font-size: 1rem;
}

h3 { 
    font-size: 1.25rem;
}
img {   
    max-width: 100%;

}

a:link a:visited { 
 color:rgb(247, 245, 249);
 text-decoration: none;
}

a:hover {
color: rgb(103, 68, 135);
text-decoration: underline;
}

.button:link, .button:visited {
    color: aliceblue;
    background-color: blue;
    padding: 1rem 1.75rem;
    border-radius: .5rem;
    box-shadow: 0 .125rem .5rem cornflowerblue;

}

nav {
    background-color: #010c1f;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
}


